.profile__settings__container {
    background-color: white;
    margin: auto;
    padding: 20px;
    width: 400px;
    border-radius: 10px;
    box-shadow: 0 0 10px #00000050;

    .profile__settings__avatar {
        background-size: cover;
    }
}

.mat-form-field {
    width: 100%;
}
