<section class="authorization__modal">
    <mat-tab-group mat-stretch-tabs>
        <mat-tab>
            <ng-template mat-tab-label>
                <mat-icon class="tab-icon">exit_to_app</mat-icon>
                Sign In
            </ng-template>
            <app-sign-in></app-sign-in>
        </mat-tab>

        <mat-tab>
            <ng-template mat-tab-label>
                <mat-icon class="tab-icon">person_add</mat-icon>
                Sign Up
            </ng-template>
            <app-sign-up></app-sign-up>
        </mat-tab>
    </mat-tab-group>
</section>
